.carousel-container{
    width: 1000px;
    height: 500px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}
.carousel-image-wrapper{
    height: 100%;
    width: 300%;
    position: absolute;
    display: flex;
    left: -2000px;
    
}
.carousel-image-wrapper img{
    width: 1000px;
    height: 500px; 
}
.btn-right{
    right: 0px;
}