.carousel-container{
    max-width: 1000px;
    width: 90%;
    height: 500px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}
.carousel-image-wrapper{
    height: 100%;
    width: 300%;
    position: absolute;
    display: flex;
}
.carousel-image-wrapper img{
    max-width: 1000px;
    width: 90%;
    height: 500px;
}
.btn-right{
    right: 0px;
}